{% extends "base.html" %}

{% block title %}Об авторе{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'pages/single.css' %}">{% endblock %}

{% block content %}
{% load user_filters %}
    <div class="single-card">
        <img src="{% static 'images/DSC_0888.JPG' %}" alt="Фото автора" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">Юрлова Виктория</h1>
            </div>
            <div class="single-card__section">
                <p class=" single-card__section-text">Студент 5 когороты по программе Python-разработчик в <a target="blank" href="https://praktikum.yandex.ru/backend-developer/">Я.Практикуме.</a></p>
                <p class=" single-card__section-text">E-mail: <a href= "mailto:yurlova_vika@mail.ru">yurlova_vika@mail.ru</a></p>
            </div>
        </div>
    </div>
{% endblock %}