{% extends "base.html" %}

{% block title %}Технологии{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'pages/single.css' %}">{% endblock %}

{% block content %}
{% load user_filters %}
    <div class="single-card">
        <img src="{% static 'images/testCardImg.png' %}" alt="Картинка рецепта" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">В процессе создания бэкенд-части сайта использовались:</h1>
            </div>
            <div class="single-card__section">
                <ul class="single-card__items">
                    <li class="single-card__item"><p class=" single-card__section-text">1. Язык программирования Python 3</p></li>
                </ul>
                <ul class="single-card__items"> 
                    <li class="single-card__item"><p class=" single-card__section-text">2. Фреймворк Django 3</p></li>
                </ul> 
                <ul class="single-card__items">
                    <li class="single-card__item"><p class=" single-card__section-text">3. СУБД PostgreSQL</p></li>
                </ul>           
            </div>
        </div>
    </div>
{% endblock %}