{% extends "base.html" %}

{% block title %}Технологии{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'pages/single.css' %}">{% endblock %}

{% block content %}
{% load user_filters %}
    <div class="single-card">
        <img src="{% static 'images/testCardImg.png' %}" alt="Картинка рецепта" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">В процессе создания сайта использовались:</h1>
            </div>
            <div class="single-card__section">
                <p class=" single-card__section-text">Python. Django.</p>
            </div>
        </div>
    </div>
{% endblock %}