{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}


{% block content %}
    {% load user_filters %}
    {% if validlink %}
        <div class="main__header">
            <h1 class="main__title">Изменить пароль</h1>
        </div>
        <div class="form-container">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                    {% for field in form %}
                        <div class="form__group">
                            <label for="{{form_username.id_for_label}}" class="form__label">{{ field.label }}</label>
                            <div class="form__field-group">
                                {{ field|addclass:'form__input' }}
                                {% if field.help_text %}
                                <span class="form__input-info">{{ field.help_text }}</span>
                                {% endif %}
                                <span class="form__error">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endfor %}
                <div class="form__footer">
                    <button class="button button_style_blue">Сохранить новый пароль</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="main__header">
            <h1 class="main__title">Ссылка сброса пароля содержит ошибку или устарела. Попытайтесь ещё раз.</h1>
        </div>
        <div class="custom-center-block">
            <div class="custom-button-block">
                <a href="{% url 'password_reset' %}" class="button button_style_blue">Сбросить пароль</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
