<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Title{% endblock %}</title>
    {% block style %}{% endblock %}    
</head>
<body class="body">
<header class="header">
    {% if user.is_authenticated %}
        {% include "includes/nav.html" with purchases=num_purchases %}
    {% else %}
        {% include "includes/nav.html" %}
    {% endif %}
</header>
    <main class="main container">
        {% block content %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}
{% block js %}{% endblock %}
</body>
</html>
