{% extends "base.html" %}

{% block title %}Список покупок{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">{% endblock %}

{% block content %}
    {% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for purchase in purchases %}
            <li class="shopping-list__item" data-id="{{ purchase.id }}">
                <div class="recipe recipe_reverse">
                    <img src="{{ purchase.recipe.image.url }}" alt="Картинка рецепта" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ purchase.recipe.name }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span>{{ purchase.recipe.cook_time }}</p>
                </div>
                <a href="{% url 'purchase_delete' request.user.username purchase.id %}" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        <a target="_blank" href="{% url 'generate_pdf' %}"><button class="button button_style_blue">Скачать список</button></a>

    {% endblock %}

{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}
