{% extends "base.html" %}

{% block title %}{{recipe.name}}{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'pages/single.css' %}">{% endblock %}
    
{% block content %}
    {% load user_filters %}
        <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
            <img src="{{recipe.image.url}}" alt="Картинка рецепта" class="single-card__image">
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{recipe.name}}</h1>
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <div class="single-card__favorite">
                            {% if favorite_recipe %}
                                <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                                <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                            {% else %}
                                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                                <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                            {% endif %}          
                    </div>
                    {% endif %}
                </div>
                <ul class="single-card__items">
                    {% for tag in recipe.tag.all %}
                        <li class="single-card__item"><span class="badge badge_style_{{ tag.get_color_display }}">{{ tag.get_name_display }}</span></li>
                    {% endfor %}
                </ul>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span class="icon-time"></span> {{recipe.cook_time}} </p>
                    {% if user == author %}
                    <ul class="single-card__items">
                        <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> {% if author.get_full_name %}{{author.get_full_name}}{% else %}{{author.username}}{% endif %}</p></li>
                        <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipe_edit' request.user.username recipe.id %}" class="single-card__text">Редактировать рецепт</a></li>
                    </ul>
                    {% endif %}
                    {% if user != author %}
                    <p class="single-card__text"><span class="icon-user"></span>
                        {% if author.get_full_name %}{{author.get_full_name}}{% else %}{{author.username}}{% endif %}
                    </p>
                    {% endif %}
                </div> 
                <ul class="single-card__items">
                    {% if user.is_authenticated %}
                        {% if purchase %}
                            <li class="single-card__item"></li><button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button></li>
                        {% else %}
                            <li class="single-card__item"><button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button></li>
                        {% endif %}
                        {% if user != author %}
                            {% if subscription %}
                                <li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться</button></li>
                            {% else %}
                                <li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингредиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for each in recipe.ingredientquantity_set.all %}
                        <p class=" single-card__section-item">{{ each.ingredient.title }} - {{each.quantity}} {{ each.ingredient.dimension }}.</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    <p class=" single-card__section-text">{{ recipe.description }}</p>
                </div>
            </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/components/Purchases.js' %}"></script>
{% if user.is_authenticated %}
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
{% endif %}
<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
    <script src="{% static 'singlePage.js' %}"></script>
{% else %}
    <script src="{% static 'singlePageNotAuth.js' %}"></script>
{% endif %}
{% endblock %}
