{% extends "base.html" %}

{% block title %}Мои подписки{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">{% endblock %}

{% block content %}
    {% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for follow in page %}
        <div class="card-user" data-author="{{ follow.author.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ follow.author }}</h2>
            </div>
                <div class="card-user__body">
                    <ul class="card-user__items">
                        {% for recipe in follow.author.recipe.all|slice:":3" %}
                        <li class="card-user__item">
                            <div class="recipe">
                                <img src="{{ recipe.image.url }}" alt="Изображение" class="recipe__image">
                                <h3 class="recipe__title">{{recipe.name}}</h3>
                                <p class="recipe__text"><span class="icon-time"></span>{{ recipe.cook_time }}</p>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="card-user__item">
                            <a href="{% url 'profile' follow.author %}" class="card-user__link link">{{follow.author.recipe.all.count|format_count:'рецепт'}}</a>
                        </li>
                    </ul>
                </div>
            <div class="card-user__footer">
                {% csrf_token %}
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div>
        {% endfor %}  
    </div>
        
    {% include 'includes/paginator.html' with page=page paginator=paginator %}
{% endblock %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock %}
